@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="index">
        <div class="navbar" style="height: 60px;">
            <!-- Add your navigation links here -->
            <a href="#" class="active">Home</a>
        </div>
        <!-- <div class="main-container"> -->
        <div class="main-content">
            <div class="intro-image" style="width: 100%;height: 100%;text-align: center;">
                <img src="../images/logo.png" alt="Introduction Image">
            </div>

            <div class="options">
                <!-- Add your option div content here -->

                <div class="option">
                    <a href="@Url.Action("Recharge","Admin")">
                        <i class="fas fa-mobile-alt"></i>
                        <div>Recharge</div>
                    </a>
                </div>

                <div class="option">
                    <a href="@Url.Action("Withdraw","Admin")">
                        <i class="fas fa-money-check-alt"></i>
                        <div>Withdraws</div>
                    </a>
                </div>
                <div class="option">
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <div>My Teams</div>
                    </a>
                </div>
                <div class="option">
                    <a href="#">
                        <i class="fas fa-envelope-open-text"></i>
                        <div>Invitation</div>
                    </a>
                </div>
                @*<div class="option">
                    <a href="#">
                        <i class="fas fa-university"></i>
                        <div>Link Bank Account</div>
                    </a>
                </div>*@

            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
<script src="script.js"></script>
