@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_HomeLayout";
}

<div class="forgot-password-container">
    <div class="company">
        <h2><img src="~/images/logo.png" alt="logo" /></h2>
    </div>
    <h1>Forgot Password</h1>
    <form id="forgot-password-form">
        <label for="email">Email:</label>
        <input type="email" id="email" required>
        <div class="verification-container">
            <label for="verification-code">Verification Code:</label>
            <input type="text" id="verification-code" required>
            <button type="button" id="send-verification-btn" onclick="sendVerificationCode()">Send</button>
        </div>
        <p id="wait-time">Please wait 60 seconds for the next verification code.</p>
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" required>
        <label for="confirm-new-password">Confirm New Password:</label>
        <input type="password" id="confirm-new-password" required>
        <button type="submit">Retrieve Password</button>
    </form>
    <div class="options">
        <a href="@Url.Action("Index")">Back to Sign In</a>
    </div>
</div>
<script src="~/js/Home/forgot_password.js"></script>
