
@{
    ViewData["Title"] = "Income";
    Layout = "~/Views/Shared/_User1Layout.cshtml";
}

<link href="~/css/Income.css" rel="stylesheet" />

<div class="app">
    <div class="article">
        <div class="nav-bar" style="height: 60px;">
            <div class="nav-bar-fixed">
                <div class="navbar-content">
                    <a href="@Url.Action("Index","User")" style="text-decoration:none; margin-left:10px;">
                        <i class="fas fa-chevron-left" style="vertical-align: middle;"></i>
                        <span class="back-text" style="vertical-align: middle; position: relative;">Back</span>
                    </a>
                    <div class="title">
                        <div style="color: black;">Income</div>
                    </div>
                    <a href="@Url.Action("IncomeHistory","User")" style="text-decoration:none; margin-right:10px;">
                        <span class="back-text" style="vertical-align: middle; position: relative;">History</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="total">
                <div class="assets">
                    <div class="asset-label">Total assets : <span id="AssetTotal"></span></div>
                    <span class="asset-value">&#x20b9; <i id="TotalCost"></i></span>
                </div>
            </div>
            @* <div class="historybutton">
                <button class="record" id="history-button">History</button>
            </div> *@
            <!-- Stats -->
            <div class="stats" id="ContainDiv">
                
            </div>
        </div>
    </div>
</div>
<div id="loader" class="loader-container">
    <div class="loader"></div>
</div>
<script src="~/js/User/Income.js" defer></script>