
@{
    ViewData["Title"] = "MyTeam";
    Layout = "~/Views/Shared/_User1Layout.cshtml";
}
<link href="~/css/MyTeam.css" rel="stylesheet" />
<div class="app">
    <div class="article">
        <div class="nav-bar" style="height: 60px;">
            <div class="nav-bar-fixed">
                <div class="navbar-content">
                    <div class="navbar-left">
                        <a href="@Url.Action("Index","User")" style="text-decoration:none;">
                            <i class="fas fa-chevron-left" style="vertical-align: middle;"></i>
                            <span class="back-text" style="vertical-align: middle; position: relative;">Back</span>
                        </a>
                    </div>
                    <div class="title">
                        <div style="color: black;">My teams</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-wrap">
            <div class="article-content">
                @* <div class="total">
                    Total: <span id="total-teams">0</span>
                </div> *@
                <div class="member-buttons">
                    <button class="valid-button" id="btnTen">10%</button>
                    <button class="valid-button" id="btnFive">5%</button>
                    <button class="valid-button" id="btnThree">3%</button>
                </div>
                <!-- Member Table -->
                <div class="member-table" style="color:black;">
                    <table id="TenPercTbl" class="table table-bordered" hidden>
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Registration Time</th>
                                <th>Product</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table id="FivePercTbl" class="table table-bordered" hidden>
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Registration Time</th>
                                <th>Product</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table id="ThreePercTbl" class="table table-bordered" hidden>
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Registration Time</th>
                                <th>Product</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/js/User/MyTeam.js" defer></script>