@model NaturalFirstWebApp.ViewModels.ResetPassword
@{
    ViewData["Title"] = "PasswordReset";
    Layout = "_User1Layout";
}

<link rel="stylesheet" href="~/css/settings.css">
<div class="app">
    <div class="article">
        <div class="nav-bar" style="height: 60px;">
            <div class="nav-bar-fixed">
                <div class="navbar-content">
                    <div class="navbar-left">
                        <a href="@Url.Action("Index","User")">
                            <i class="fas fa-chevron-left" style="vertical-align: middle;"></i>
                            <span class="back-text" style="vertical-align: middle; position: relative;">Back</span>
                        </a>
                        @*<i class="fas fa-chevron-left" style="vertical-align: middle;"></i>
                        <span class="back-text" style="vertical-align: middle; position: relative;">Back</span>*@
                    </div>
                    <div class="title">
                        <div style="color: black;">Change Password</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-wrap">
            <form class="article-content" asp-action="PasswordReset" method="post">
                <div class="info-item">
                    <div class="item-text">Email</div>
                    <div class="item-value">@ViewBag.Email</div>
                </div>
                <div class="info-item">
                    <div class="item-text">Code</div>
                    <div class="veri-code"><input type="text" placeholder="Verification Code" id="verification-code" name="VerificationCode" /></div>
                    <div class="send"><button onclick="sendVerificationCode()">Send</button></div>
                </div>
                <div class="info-item">
                    <div class="item-text">Password</div>
                    <div class="input-new-pswd">
                        <input type="password" placeholder="New password" name="Password" />
                    </div>
                    <span>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</span>
                </div>
                <div class="info-item">
                    <div class="item-text">Confirm</div>
                    <div class="input-new-pswd">
                        <input type="password" placeholder="Confirm password" name="ConfirmPassword" />
                    </div>
                    <span>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })</span>
                </div>
                <div class="center-button">
                    <button id="submitButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/js/user/reset_password.js"></script>

