* {
    list-style-type: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    height: 100%;
    font-family: \5fae\8f6f\96c5\9ed1, \5b8b\4f53, Arial;
    max-width: 640px;
    margin: 0 auto;
    background: #b8e5b8;
    color: #333;
}

.app {
    height: 100%;
    font-size: 1rem;
    max-width: 640px;
    margin: 0 auto;
    display: block;
}

.article {
    position: relative;
    min-height: 100%;
    color: #fff;
}

.nav-bar .nav-bar-fixed {
    z-index: 1000;
    background-color: #e2ebeb;
    color: #c45454;
    max-width: 640px;
    margin: 0 auto;
    right: 0;
    border-radius: 15px;
}

.nav-bar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: var(--van-line-height-lg);
    text-align: center;
    background: var(--van-nav-bar-background-color);
    /* -webkit-user-select: none; */
    user-select: none;
}

.footer {
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #e2ebeb;
    margin: 0 auto;
    right: 0;
    height: 2.4rem;
    max-width: 640px;
    border-radius: 15px;
    box-shadow: #d8d8d8 0 0 3px;
    display: flex;
    /* Add display flex */
    justify-content: center;
    /* Center the button horizontally */
    align-items: center;
    user-select: none;
    line-height: var(--van-line-height-lg);
}

.nav-bar .navbar-content {
    height: 3rem;
}

.navbar-content {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-left {
    padding: 0 0 0 15px;
}

.title {
    max-width: 60%;
    margin: 0 auto;
    color: black;
    font-weight: var(--van-font-weight-bold);
    font-size: var(--van-nav-bar-title-font-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.back-text {
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer;
}

.main-content {
    position: relative;
    top: -0.1rem;
    right: 0;
    bottom: 4.2rem;
    overflow-y: auto;
    left: 0;
}

.intro-image {
    place-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    margin-top: 10px;
}

    .intro-image img {
        /* margin-top: 10px; */
        border-radius: 15px;
        max-width: 160px;
        max-height: 160px;
    }

.options {
    display: flex;
    flex-wrap: wrap;
    background: #e9e3e3;
    width: 94%;
    margin: 1rem auto 0;
    border-radius: 2.5rem;
    padding: 3%;
    justify-content: space-around;
    margin-bottom: 15px;
}

.option {
    color: #f4f8f8;
    padding: 1.2rem 0;
    position: relative;
    font-size: 1rem;
    width: 25%;
    text-align: center;
}

.stat {
    flex: 1;
    /* Equal width for each stat div */
    text-align: center;
    color: #333;
    padding: 15px;
    background-color: #fcfcfc;
    margin: 10px;
    border-radius: 15px;
}

    .stat p {
        padding: 5px;
    }

.stat-value {
    color: #f94140;
}

#product-name {
    margin-top: 10px;
    color: #333;
    font-size: large;
}

.description {
    background: #ffffff;
    color: #db0706;
    border-radius: 10px;
    padding: 20px;
}

.wallet-separator {
    margin-top: 10px;
    border-top: 1px solid #3f3939;
    width: 100%;
    opacity: 0.2;
}

.purchase-button {
    background-color: #f94140;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    max-width: 200px;
    box-sizing: border-box;
}

    .purchase-button:hover {
        background-color: #d81c1a;
    }


/* Responsive CSS */
@media screen and (max-width: 768px) {
    .title {
        max-width: 80%;
        /* Adjust the maximum width for smaller screens */
    }

    .navbar-left {
        font-size: medium;
    }

    /* .fas .fa-chevron-right {} */

    .back-text {
        /* Reduce font size for smaller screens */
        position: relative;
        top: -1px;
        /* Adjust vertical alignment for back text */
    }
}

/* Additional responsive CSS for smaller screens (566px and below) */
@media screen and (max-width: 566px) {
    .nav-bar-fixed {
        border-radius: 0;
        /* Remove border-radius for smaller screens */
    }
}

@media screen and (max-width: 415px) {
    .title div {
        font-size: small;
    }

    .navbar-left {
        font-size: small;
    }
}

@media screen and (max-width: 300px) {
    .navbar-content {
        font-size: small;
    }
}

/* popup style */
.wallet-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.wallet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 10px;
    background: #6fc96f;
}

.wallet-label {
    margin-bottom: 5px;
}

.separator {
    width: 1px;
    height: 50px;
    background-color: #2f2d2d;
    opacity: 0.2;
}

.recharge-value,
.balance-value {
    margin: 5px 0;
    color: #f94140;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    width: 70%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

    .popup.active {
        display: block;
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgb(49, 21, 36);
    }

        .popup.active:hover {
            transform: translate(-50%, -50%);
            transition: transform 0.2s;
            box-shadow: 3px 3px rgb(158, 110, 136);
        }

.div-separator {
    margin-top: 10px;
    border-top: 1px solid #3f3939;
    width: 100%;
    opacity: 0.2;
}

.confirm-button,
.cancel-button {
    color: white;
    padding: 10px 20px;
    border: none;
    /* border-radius: 10px; */
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    text-align: center;
}

.cancel-button {
    /* margin-right: 10px;  */
    background-color: #f94140;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.confirm-button {
    background-color: #4caf50;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s;
}

    .confirm-button:hover {
        background-color: #388e3c;
    }

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}

.price-title {
    flex: 1;
    font-size: 18px;
    color: black;
}

.total-title {
    flex: 1;
    font-size: 18px;
    color: black;
}

.price-value,
.total-value {
    display: flex;
    align-items: center;
    color: #e30c0c;
    font-size: medium;
    justify-content: flex-start;
    font-weight: 400;
    margin-right: 10px;
}

.coupon {
    flex: 1;
    font-size: 18px;
    color: black;
}

.input-area {
    flex: 1;
    display: flex;
    align-items: center;
    background: #f7f6f6;
    border-radius: 10px;
    margin-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
}

.info-item select {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 0;
    background: none;
    color: black;
    outline: none;
}

@media screen and (max-width: 474px) {
    .intro-image img {
        max-width: 140px;
        max-height: 140px;
    }

    .stat p {
        font-size: 14px;
    }
}

@media screen and (max-width: 446px) {
    .option {
        width: 200px;
        padding: 0 0 0 0;
    }

    .options {
        padding: 2%;
    }

    .stat {
        padding: 0px;
    }
}

@media screen and (max-width: 426px) {
    .option {
        width: 180px;
    }

    .info-item select {
        font-size: 15px;
    }

    .input-area {
        margin-left: -69px;
    }
}

@media screen and (max-width: 383px) {
    .option {
        width: 150px;
    }

    .input-area {
        margin-left: -69px;
    }

    .wallet-label {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .option {
        width: 125px;
    }
}

@media screen and (max-width: 550px) {
    .input-area {
        margin-left: -69px;
    }
}

@media screen and (max-width: 340px) {
    .info-item select {
        font-size: 12px;
    }

    .input-area {
        margin-left: -69px;
    }

    .wallet-label {
        font-size: 13px;
    }

    .info-item div,
    .info-item label {
        font-size: 14px;
    }

    .recharge-value,
    .balance-value {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .recharge-value,
    .balance-value {
        font-size: 14px;
    }
}

@media screen and (max-width: 290px) {
    .wallet-label {
        font-size: 12px;
    }

    .recharge-value,
    .balance-value {
        font-size: 11px;
    }

    .info-item select {
        font-size: 10px;
    }

    .input-area {
        margin-left: -55px;
    }
}
