/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b8e5b8;
}

/* Login and Forgot Password container */
.login-container,
.forgot-password-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #e2ebeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.company img {
    border-radius: 10px;
    max-width: 250px;
    max-height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
form, div.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Input with button */
.input-with-button {
    display: flex;
    align-items: center;
}

    .input-with-button input {
        flex: 1;
    }

    .input-with-button .verification-container {
        display: flex;
        align-items: center;
    }

        .input-with-button .verification-container label {
            margin-right: 10px;
        }

    .input-with-button button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-left: 10px;
    }

        .input-with-button button:hover {
            background-color: #0056b3;
        }

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

/* Options section */
.options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

    .options a {
        color: #007bff;
        text-decoration: none;
    }

        .options a:hover {
            text-decoration: underline;
            color: #0056b3;
        }

/* Captcha styles */
#captcha {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #f2f2f2;
}

/* Language slider */
.language-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

    .language-slider .language {
        margin: 0 10px;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {

    .login-container,
    .forgot-password-container {
        max-width: 90%;
        margin: 50px auto;
        padding: 10px;
    }

    .company h2 {
        font-size: 22px;
    }

    h1 {
        font-size: 28px;
    }

    label {
        font-size: 14px;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        padding: 8px;
        margin-bottom: 16px;
    }

    .input-with-button .verification-container label {
        margin-bottom: 15px;
    }

    .input-with-button .verification-container input {
        margin-bottom: 15px;
    }

    .input-with-button button {
        margin-left: 0;
        margin-top: 10px;
        border-radius: 5px;
    }

    button[type="submit"] {
        padding: 8px;
    }

    .options {
        margin-top: 10px;
        margin-bottom: 5px;
    }

        .options a {
            font-size: 12px;
        }

    .language-slider {
        margin-bottom: 15px;
    }

        .language-slider .language {
            font-size: 12px;
        }

    .switch {
        width: 50px;
        height: 28px;
    }

    .slider {
        width: 26px;
        height: 26px;
        border-radius: 50%;
    }

        .slider:before {
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
        }
}

@media screen and (max-width: 480px) {
    .company h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }

    label {
        font-size: 12px;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        padding: 6px;
        margin-bottom: 12px;
    }
}
