* {
    list-style-type: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    height: 100%;
    font-family: \5fae\8f6f\96c5\9ed1, \5b8b\4f53, Arial;
    max-width: 640px;
    margin: 0 auto;
    background: #b8e5b8;
    color: #333;
}

.app {
    height: 100%;
    font-size: 1rem;
    max-width: 640px;
    margin: 0 auto;
    display: block;
}

.article {
    position: relative;
    min-height: 100%;
    color: #fff;
}

.nav-bar .nav-bar-fixed {
    z-index: 1000;
    background-color: #e2ebeb;
    color: #c45454;
    max-width: 640px;
    margin: 0 auto;
    right: 0;
    border-radius: 15px;
}

.nav-bar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: var(--van-line-height-lg);
    text-align: center;
    background: var(--van-nav-bar-background-color);
    /* -webkit-user-select: none; */
    user-select: none;
}

.nav-bar .navbar-content {
    height: 3rem;
}

.navbar-content {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-left {
    padding: 0 0 0 15px;
}

.title {
    max-width: 60%;
    margin: 0 auto;
    color: black;
    font-weight: var(--van-font-weight-bold);
    font-size: var(--van-nav-bar-title-font-size);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-wrap {
    padding: 0 4%;
}

.article-content {
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 15px;
}

.blank-field {
    border: 1px solid red !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

/* img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 0;
    display: block;
} */

/* Existing styles... */

.info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
}

    .info-item input[type="text"],
    .info-item select {
        width: 100%;
        padding: 8px;
        font-size: 18px;
        border: none;
        border-radius: 0;
        background: none;
        color: black;
        outline: none;
    }

.input-area {
    flex: 1;
    display: flex;
    align-items: center;
    background: #f7f6f6;
    border-radius: 10px;
    margin-left: -200px;
    box-sizing: border-box;
    /* Add this to include padding in width calculation */
}

.item-icon {
    /* font-size: 24px; */
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

    .item-icon img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

.item-text {
    flex: 1;
    font-size: 18px;
    color: black;
}

.item-arrow {
    font-size: 18px;
    color: #b3a3a3;
}

.center-button {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#signOutButton {
    width: 200px;
    background-color: #E10600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

    #signOutButton:hover {
        background-color: #f80505;
    }

#submitButton {
    width: 200px;
    background-color: #E10600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
}

    #submitButton:hover {
        background-color: #f80505;
    }

.fas .fa-chevron-right {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.back-text {
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer;
}

/* Existing styles... */

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .title {
        max-width: 80%;
        /* Adjust the maximum width for smaller screens */
    }

    .article-wrap {
        padding: 0 10px;
        /* Increase padding for smaller screens */
    }

    .navbar-left {
        font-size: medium;
    }

    /* .fas .fa-chevron-right {} */

    .back-text {
        /* Reduce font size for smaller screens */
        position: relative;
        top: -1px;
        /* Adjust vertical alignment for back text */
    }

    .article-content {
        font-size: 1rem;
        /* Adjust font size for content */
    }
}

/* Additional responsive CSS for smaller screens (566px and below) */
@media screen and (max-width: 566px) {
    .nav-bar-fixed {
        border-radius: 0;
        /* Remove border-radius for smaller screens */
    }

    .navbar-content {
        font-size: small;
    }

    /* .fas .fa-chevron-right {} */
}

@media screen and (max-width: 415px) {
    .input-area {
        margin-left: -100px;
    }

    .title div {
        font-size: small;
    }

    .navbar-left {
        font-size: small;
    }

    .info-item input[type="text"], input[type="number"] {
        font-size: 9.5px;
    }

    .item-text {
        font-size: 11px;
    }

    #bankSelect {
        font-size: 10px;
    }

    #submitButton {
        font-size: medium;
    }
}

@media screen and (max-width: 300px) {
    .input-area {
        margin-left: -100px;
    }

    .navbar-content {
        font-size: small;
    }

    .info-item input[type="text"], input[type="number"] {
        font-size: 7.5px;
    }

    .item-text {
        font-size: 8.5px;
    }

    #bankSelect {
        font-size: 9px;
    }

    #submitButton {
        font-size: medium;
        width: 125px;
    }
}


/* code personal information html */

.item-value {
    display: flex;
    align-items: center;
    color: #333;
}

.item-image {
    display: flex;
    align-items: center;
    color: #333;
}

.item-value {
    font-size: medium;
    justify-content: flex-start;
    font-weight: 300;
    margin-right: 10px;
}

.item-image {
    justify-content: flex-start;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.input-nickname {
    justify-content: flex-start;
    flex: 1;
    display: flex;
    align-items: center;
    background: #f7f6f6;
    border-radius: 10px;
    padding: 0 5px;
    margin-left: 100px;
    box-sizing: border-box;
}

    .input-nickname input[type="text"] {
        width: 100%;
        text-align: right;
    }


.item-image img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.add-avatar-icon {
    /* Style the "+" icon div as needed */
    font-size: 65px;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    font-weight: 100;
}

@media screen and (max-width: 415px) {
    .item-value {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .item-value {
        font-size: 8px;
    }

    .input-nickname {
        margin-left: 40px;
    }

        .input-nickname input[type="text"] {
            font-size: 8px;
        }
}

/* Code for change password */

.input-new-pswd {
    justify-content: flex-start;
    flex: 1;
    display: flex;
    align-items: center;
    background: #f7f6f6;
    border-radius: 10px;
    /* padding: 0 5px; */
    margin-left: -5px;
    box-sizing: border-box;
}

    .input-new-pswd input[type="password"] {
        width: 100%;
        text-align: right;
        padding: 8px;
        font-size: medium;
        border: none;
        border-radius: 0;
        background: none;
        color: black;
        outline: none;
    }

.veri-code {
    justify-content: flex-start;
    flex: 1;
    display: flex;
    align-items: center;
    background: #f7f6f6;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

    .veri-code input[type="text"],
    .veri-code input[type="number"] {
        width: 100%;
        text-align: right;
        padding: 8px;
        font-size: medium;
        border: none;
        border-radius: 0;
        background: none;
        color: black;
        outline: none;
    }

.send button {
    background-color: skyblue;
    border-radius: 10px;
    width: 70px;
    font-size: medium;
    margin-bottom: 5px;
    cursor: pointer;
}

@media screen and (max-width: 594px) {
    .input-new-pswd {
        margin-left: 40px;
    }

        .input-new-pswd input[type="password"] {
            font-size: 12px;
        }

    .veri-code {
        margin-left: 90px;
    }

        .veri-code input[type="text"], input[type="number"] {
            font-size: 12px;
        }

    .send button {
        font-size: 12px;
        width: 50px;
    }
}

@media screen and (max-width: 434px) {
    .input-new-pswd {
        margin-left: -90px;
    }

        .input-new-pswd input[type="password"] {
            font-size: 10px;
        }

    .veri-code {
        margin-left: -65px;
    }

        .veri-code input[type="text"], input[type="number"] {
            font-size: 10px;
        }

    .send button {
        margin-bottom: 6px;
        font-size: 10px;
        width: 45px;
    }
}

@media screen and (max-width: 342px) {
    .input-new-pswd {
        margin-left: -87px;
    }

        .input-new-pswd input[type="password"] {
            font-size: 8px;
        }

    .veri-code {
        margin-left: -55px;
    }

        .veri-code input[type="text"], input[type="number"] {
            font-size: 8px;
        }

    .send button {
        margin-bottom: 5px;
        font-size: 10px;
        width: 35px;
    }
}

@media screen and (max-width: 285px) {
    /* .input-new-pswd {
        margin-left: -25px;
    } */

    .input-new-pswd input[type="password"] {
        font-size: 8px;
    }

    /* .veri-code {
        margin-left: 10px;
    } */

    .veri-code input[type="text"], input[type="number"] {
        font-size: 8px;
    }

    .send {
        font-size: 8px;
    }
}


/* code for the withdraw page */

.balance {
    color: black;
    padding: 10px;
    font-weight: bold;
}

#header {
    color: #333;
    font-weight: bold;
}

.send {
    color: #7f7878;
}

.navbar-right {
    padding: 0 15px 0 0;
}

.record-text {
    top: -2px;
    cursor: pointer;
}

.all {
    background: border-box;
    color: white;
    border-radius: 15px;
    background-color: red;
}

@media screen and (max-width: 434px) {
    .balance {
        font-size: 15px;
    }

    #header {
        font-size: 15px;
    }

    .send {
        font-size: 11px;
    }
}
